
.page-content {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

a, a:hover, a:visited, a:active {
  color: #000;
  text-decoration: none;
}

.cv-name {
  text-align: center;
  margin: 0 auto;
}

.main-page-title {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.occupation {
  text-align: center;
}

.contact {
  display: table;
  margin: 0 auto;
}

.profile-pic {
  display: block;
  width: 500px;
  height: 500px;
}

