@font-face {
    font-family: "Segoe UI Light";
    font-style: normal;
    font-weight: 200;
    src: local("O"), url("../fonts/segoe-ui/segoe-ui-light-latin.woff") format("woff"), url("../fonts/segoe-ui/segoe-ui-light-latin.eot"), url("../fonts/segoe-ui/segoe-ui-light-latin.eot?") format("embedded-opentype"), url("../fonts/segoe-ui/segoe-ui-light-latin.ttf") format("truetype");
}
@font-face {
    font-family: "Segoe UI Regular";
    font-style: normal;
    font-weight: 400;
    src: local("O"), url("../fonts/segoe-ui/segoe-ui-regular-latin.woff") format("woff"), url("../fonts/segoe-ui/segoe-ui-regular-latin.eot"), url("../fonts/segoe-ui/segoe-ui-regular-latin.eot?") format("embedded-opentype"), url("../fonts/segoe-ui/segoe-ui-regular-latin.ttf") format("truetype");
}
@font-face {
    font-family: "Segoe UI Semibold";
    font-style: normal;
    font-weight: 400;
    src: local("O"), url("../fonts/segoe-ui/segoe-ui-semibold-latin.woff") format("woff"), url("../fonts/segoe-ui/segoe-ui-semibold-latin.eot"), url("../fonts/segoe-ui/segoe-ui-semibold-latin.eot?") format("embedded-opentype"), url("../fonts/segoe-ui/segoe-ui-semibold-latin.ttf") format("truetype");
}


/**
* Font Families
* =============
* font-family: 'Segoe UI', 'Segoe WP', 'Segoe UI Regular', 'Helvetica Neue', Helvetica, Tahoma, 'Arial Unicode MS', sans-serif;
* font-family: 'Segoe UI Regular';
* font-family: 'Segoe UI Light';
**/

/**
* Color Pallet
* ============
* Body Text (dark grey):  color: rgba(51, 53, 52, 1);
* Blue Text:        rgba(0, 120, 202, 1);
* Blue background:      #00aeef;
* Green background:     rgba(127, 186, 0, 1);
* Purple background:    rgba(149, 60, 172, 1);
* Orange background:    rgba(255, 140, 0, 1);
**/

body {
  font-family: 'Segoe UI Light', 'Segoe UI Regular', 'Segoe WP', 'Segoe UI Regular', 'Helvetica Neue', Helvetica, Tahoma, 'Arial Unicode MS', sans-serif;
  color: rgba(51, 53, 52, 1);
  background-color: rgba(231, 241, 245, 1);
}

h1, h2, h3, h4 {
  font-family: "Segoe UI Light","Segoe UI","Segoe WP Light","Segoe WP","Segoe UI Latin Light",HelveticaNeue,Helvetica,Tahoma,ArialUnicodeMS,sans-serif;
}
h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  font-weight: 100;
}
h1, h2 {
  font-weight: 200;
}


a, a:hover, a:visited, a:active {
  color: rgba(51, 53, 52, 1);
  text-decoration: none;
}

ul {
  padding-left: 0px;
  list-style-type: none;
}
li {
  /*margin-left: 0px;*/
}


.page-content {
  display: flex;
  position: relative;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 60em;
  margin: 0 auto;
  padding: 1em;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  background-color: rgba(0, 174, 239, 1);
}

.profile-aside {
  overflow: hidden;
  width: 16em;
}

.avatar-container {
  overflow: hidden;
}
.profile-pic {
  width: 16em;
  height: 16em;
}

.cv-name {
  display: none;
  position: absolute;
  top: 0px;
  margin-left: 0.5em;
  margin-top: 0.75em;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  filter: dropshadow(color=#000, offx=1, offy=1);
}


.profile-aside-details-section {
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
}
.profile-aside .contact {
  overflow: hidden;
  background-color: rgba(149, 60, 172, 1);
}
.contact-name {
  display: block;
}
.profile-aside-section-title {
  margin-top: 0.5em;
  font-weight: normal;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.298039);
  filter: dropshadow(color=#000, offx=1, offy=1);
}
.profile-aside .field {
  overflow: hidden;
  margin-top: -0.125em;
  margin-bottom: 1em;
  padding-bottom: 0.125em;
  line-height: 1.5em;
}
.profile-aside .label {
  color: white;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.298039);
  filter: dropshadow(color=#242424, offx=1, offy=1);
}
.profile-aside .label.contact-label {
  float: none;
  position: relative;
  min-width: auto;
  height: 1.5em;
  margin-right: auto;
}
.profile-aside .label .label-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.563em;
  height: 1.563em;
  background: url("../img/overview_icons.svg") no-repeat;
}
.profile-aside .skype {
  padding-bottom: 0.125em;
}
.profile-aside .skype .label .label-icon {
  top: 0.125em;
  background-position: -350px -50px;
}
.profile-aside .skype .skype-label {
  display: none;
}
.profile-aside-details-section.contact .skype .label .label-text {
  display: none;
}
.profile-aside .email .label .label-icon {
  background-position: -346px -422px;
  margin-left: -1px;
}
.profile-aside-details-section.contact .email .label .label-text {
  display: none;
}
.profile-aside .phone .label .label-icon {
  background-position: -252px -452px;
}
.profile-aside .linkedin .label .label-icon {
  background-position: -252px -484px;
}
.profile-aside .pdf {
  margin-top: -0.125em;
}
.profile-aside .pdf .label .label-icon {
  background: url("../img/pdf-icon-white-256x256.png") no-repeat;
  background-size: cover;
}
.profile-aside .label .label-text {
  position: absolute;
  top: 0;
  left: 2.688em;
}
.profile-aside a {
  color: rgba(255, 255, 255, 1);
}
.profile-aside .value {
  float: none;
  overflow: hidden;
  margin-left: 3.071em;
  font-size: 0.875em;
  color: rgba(255, 255, 255, 1);
}
.profile-aside .value a {
  color: rgba(255, 255, 255, 1);
}

.linkedin-profile-id,
.linkedin-profile-id-colon {
  display: none;
}
.web-cv-link {
  display: none;
}
.qr-code {
  width: 9em;
  margin-top: 0.5em;
}

.profile-aside .field.reference {
  overflow: hidden;
}
.reference-position-item {
  overflow: hidden;
  font-size: 0.875em;
  color: rgba(255, 255, 255, 1);
}
.reference-position-label {
  float: left;
  width: 4em;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.298039);
  filter: dropshadow(color=#242424, offx=1, offy=1);
}
.reference-position-value {
  float: right;
  width: 10em;
}
.reference .contact-label {
  overflow: hidden;
  height: auto;
  margin-bottom: 0.5em;
}
.profile-aside .reference .contact-label {
  height: auto;
}
.reference .contact-label .label-icon-container {
  float: left;
  width: 2em;
}
.reference .contact-label .label-icon {
  position: static;
}
.reference .contact-label .label-text {
  position: static;
  float: left;
  padding-top: 3px;
  font-size: 0.875em;
  line-height: 1.25em;
}
.reference-contact-item.email .label-text br {
  display: none;
}



.profile-main {
  overflow: auto;
  width: 45em;
  padding-top: 0em;
  padding-bottom: 1em;
  background-color: rgba(255, 255, 255, 1);
  text-align: justify;
}

.profile-section {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0em;
  margin-bottom: 1em;
  overflow: auto;
}

.summary .job-header {
  font-size: 1.1em;
}

.profile-info {
  position: absolute;
}
.occupation {
  margin-top: 0.8em;
  margin-bottom: 0;
}


.field {
  overflow: hidden;
  line-height: 1.5em;
}
.label {
  min-width: 4em;
  margin-right: 2em;
}

.profile-section-title {
  text-align: right;
  color: rgba(0, 120, 202, 1);
}
.profile-section-title.interests-title {
  text-align: left;
}

.profile-entry {
  overflow: auto;
  margin-bottom: 2em;
}
.profile-entry-header {
  overflow: auto;
}
.profile-entry-header h2 {
  margin-bottom: 0.5em;
}
.profile-entry-years {
  float: left;
  color: rgba(0, 120, 202, 1);
}
.profile-entry-name {
  float: right;
}
.profile-entry-title {
  margin-top: 0;
}

ul.profile-entry-values {
  overflow: auto;
  list-style-type: disc;
  padding-left: 1.5em;
}
.profile-entry-value {
  color: rgba(0, 120, 202, 1);
}
.profile-entry-value span {
  color: rgba(51, 53, 52, 1);
}

.screenshots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2em;
}
.screenshot {
  margin-bottom: 1.5em;
}
.screenshot-image {
  border: 1px solid lightgrey;
  width: 300px;
}

.profile-main .references-section {
  display: none;
}
.profile-main .references-section .profile-entry-name {
  float: left;
  color: rgba(0, 120, 202, 1);
}
.profile-main .reference-position-item {
  font-size: 1em;
  color: rgba(51, 53, 52, 1);
}
.profile-main .reference-position-label {
  width: 6em;
  color: rgba(0, 120, 202, 1);
  text-shadow: none;
  filter: none;
}
.profile-main .reference-position-value {
  float: left;
  width: auto;
}
.profile-main .reference-contact-item {
  float: left;
  min-width: 12em;
}
.profile-main .reference-contact-item .label.contact-label {
  min-width: auto;
  margin-right: 3em;
}

footer {
  position: relative;
  overflow: hidden;
  height: 219px;
  width: 100% !important;
  margin-top: -10em;
  background: #e7f1f5; /* Old browsers */
  background: -moz-linear-gradient(top,  #e7f1f5 0%, #d4e0e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e7f1f5 0%,#d4e0e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e7f1f5 0%,#d4e0e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1f5', endColorstr='#d4e0e4',GradientType=0 ); /* IE6-9 */
}
.footer-image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1000px;
  height: 148px;
  right: -706px;
  background: url("../img/footer-clouds-with-rainbow.png") no-repeat;
  z-index: 1;
}



@media print {
  
  @page { margin: 4em; }
  blockquote, pre { page-break-inside: avoid; }
  body { background: white; }
  footer { display: none; }
  a:link:after { content: ""; }
  .profile-main { background: transparent; }
  .cv-name {
    display: none;
  }
  .contact-name {
    display: block;
  }
  .profile-aside-section-title {
    color: rgba(51, 53, 52, 1);
    text-shadow: none;
    filter: none;
  }
  .profile-aside a {
    color: rgba(51, 53, 52, 1);
  }
  .profile-aside .label {
    color: rgba(51, 53, 52, 1);
    text-shadow: none;
    filter: none;
  }
  .profile-aside .skype .label .label-icon {
    background: url("../img/overview_icons.svg") no-repeat !important;
    background-position: -347px -452px;
  }
  .profile-aside .skype .skype-label {
    display: block;
    position: relative;
    left: 2.65em;
  }
  .profile-aside .email .label .label-icon {
    background: url("../img/overview_icons.svg") no-repeat !important;
    background-position: -395px -422px;
  }
  .profile-aside .email .label .label-text {
    display: block;
    position: relative;
    top: -1em;
  }
  .profile-aside .phone .label .label-icon {
    background: url("../img/overview_icons.svg") no-repeat !important;
    background-position: -301px -452px;
  }
  .profile-aside .linkedin .label .label-icon {
    background: url("../img/overview_icons.svg") no-repeat !important;
    background-position: -302px -484px;
  }
  .profile-aside .value {
    color: rgba(51, 53, 52, 1);
  }
  .linkedin-profile-id {
    display: block;
  }
  .linkedin-profile-id-colon {
    display: inline;
  }
  .web-cv-link {
    display: block;
  }
  .web-cv-link .web-link {
    margin-top: 1em;
  }
  .pdf {
    display: none;
  }
  .screenshots {
    display: none;
  }
  .profile-aside .references-section {
    display: none;
  }
  .profile-main .references-section {
    display: block;
  }
  .reference-position-item {
    color: rgba(51, 53, 52, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .reference-position-label {
    text-shadow: none;
    filter: none;
  }
  .reference-contact-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .profile-main .reference-contact-item {
    float: none;
    min-width: auto;
  }
  .profile-main .reference-contact-item .label.contact-label {
    margin-right: 0;
  }
  .reference-contact-item .label-icon-container {
    display: none;
  }
  .reference-contact-item.email .label-text br {
    display: none;
  }
  .reference-contact-item .linkedin-profile-id {
    display: inline;
  }
  .employment-history {
    page-break-after: always;
  }
}

